:root {
  --basic-color: #e50914;
}

/* 컴포넌트 */
/* 콤보박스 */
.combo-box {
  display: inline-flex;
  flex-flow: nowrap row;
  position: relative;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;

  .svg {
    inline-size: 16px;
    block-size: 16px;
    position: absolute;
    inset-block-start: 50%;
    translate: 0 -50%;
    pointer-events: none;
  }
}
select {
  inline-size: 100%;
  appearance: none;
  border: none;
  background: transparent;
  padding-inline: 24px;
}

.lang-icon {
  inset-inline-start: 10px;
}

.select-icon {
  inset-inline-end: 10px;
}

/* 로고 */
.go-home {
  color: var(--basic-color);
  display: block;
  inline-size: clamp(80px, 21.333%, 140px);
}

/* 로그인버튼 */
.login-btn {
  color: white;
  background: var(--basic-color);
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 4px;
  border: 0;
}
