:root {
  --gray-100: #eee;
  --gray-200: #b3b3b3;
  --gray-500: #4d4d4d;
}

body {
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

/* 컴포넌트 */
/* 장바구니 헤더 */
.shopping-cart-title {
  --border-size: 2px;
  --size: 24px;
  --spacing: 0.25em;
  --icon-size: 2em;

  display: block;
  background: url(/src/assets/cart/icon-cart.svg) no-repeat;
  font-size: var(--size);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02px;
  padding-inline-start: var(--icon-size);
  padding-block-start: calc(var(--spacing) * 1.8);
  height: calc(var(--icon-size) + var(--spacing) + var(--border-size));
  border-bottom: var(--border-size) solid currentColor;
}

/* 장바구니 푸터 */
.shopping-cart-result {
  --border-size: 2px;
  --size: 20px;
  --spacing: 1em;

  min-inline-size: max-content;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  font-weight: 700;
  font-size: var(--size);
  letter-spacing: -0.02em;
  line-height: 1;
  padding-block-start: var(--spacing);
  border-block-start: var(--border-size) solid currentColor;

  [aria-hidden='true'] {
    margin-inline: 0.125em;
  }

  em {
    grid-column: 2;
  }

  output {
    grid-column: 3;
  }
}

/* 장바구니 상품 */
.shopping-cart-product {
  --size: 64px;
  --gray-700: #4d4d4d;

  color: var(--gray-700);
  display: grid;
  grid-template-columns: var(--size) minmax(max-content, 1fr);
  column-gap: 12px;
  align-items: center;

  img {
    inline-size: var(--size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }

  figcaption {
    line-height: 1;
    letter-spacing: -0.4px;
    display: flex;
    flex-flow: nowrap column;
    row-gap: 8px;

    a {
      font-size: 20px;
      font-weight: 400;
    }
    span {
      font-size: 18px;
      font-weight: 800;
    }
  }
}

/* 상품 수량 선택 버튼 */
.button-product-quantity {
  --size: 28px;
  --spacing-x: 8px;
  --spacing-y: 6px;
  --fill-color: var(--gray-100);
  --strocke-color: var(--gray-200);

  background: var(--gray-100);
  display: inline-grid;
  grid-template-columns: repeat(3, max-content);
  padding: var(--spacing-y) var(--spacing-x);
  align-items: center;
  border-radius: 36px;

  .button-increase {
    order: 1;
  }

  .button-increase,
  .button-decrease {
    inline-size: var(--size);
    aspect-ratio: 1/1;
    border: 0;
    background: transparent;
    padding: 0;
    display: inline-grid;
    place-items: center;

    &::before {
      content: '';
      inline-size: 6px;
      block-size: 1px;
      background: var(--gray-200);
      grid-area: 1/1/2/2;
    }
  }

  .button-increase {
    &::after {
      content: '';
      display: block;
      inline-size: 6px;
      block-size: 1px;
      background: var(--gray-200);
      margin-inline: auto;
      rotate: 90deg;
      grid-area: 1/1/2/2;
    }
  }

  output {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.02em;
    padding-inline: 4px;
  }
}
