@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

/* 애니메이션 관련 CSS */
/* Fade */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Shrink */
@keyframes shrink {
  100% {
    scale: 0.7;
  }
}

/* Bounce */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Spin*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Angle */
@keyframes angle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
