/* 메인 페이지 스타일 - index.html*/
/* 본문의 기본 글꼴 설정 */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(-45deg, rgb(204, 255, 230), #fcf, #cff, #cfc, #ccc);
}

/* 하이퍼링크 스타일 */
a {
  text-decoration: none;
  color: mediumslateblue;
}

/* 컨테이너 레이아웃 */
.container {
  margin: 50px;
  display: flex;
  flex-flow: column nowrap;

  h1,
  h2 {
    margin-block: 10px;
  }

  .main-title {
    inline-size: 100%;
    border-bottom: 1px solid goldenrod;
    margin-block-end: 50px;
    padding: 30px;
    text-align: center;
  }

  .group-wrapper {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    gap: 20px;

    .group {
      border: 1px solid goldenrod;
      border-radius: 10px;
      padding: 20px;

      flex: 1;
      min-width: 250px;
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  .markup {
    order: 3;
  }

  .styling {
    order: 2;
  }

  .ui {
    order: 1;
  }
}
