@import '/src/ui/netflix/netflix.css';

html,
body {
  min-block-size: 100%;
}

.container {
  box-shadow: 0 0 0 2px red;
  block-size: calc(100vh - 150px);

  @media (width<=768px) {
    display: flex;
    flex-flow: nowrap column;
  }

  @media (width>=768px) {
    display: grid;
    grid-template-columns: [full-start] 1fr [content-start] repeat(12, minmax(34px, 76px)) [content-end] 1fr [full-end];
    gap: 20px;
  }
}

/* 헤더 */
.header {
  background: var(--black);
  block-size: 10%;

  @media (width>=768px) {
    grid-column: content;
    block-size: auto;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
  }
  .brand {
    @media (width >=768px) {
      grid-column: span 2;
      justify-self: center;
    }
  }
  .select-box {
    @media (width >=768px) {
      grid-column: 9 / span 2;
      justify-self: end;
    }
  }
  .button {
    @media (width >=768px) {
      grid-column-start: span 2 / content-end;
      justify-self: start;
    }
  }
}

/* 내비게이션 */
.navigation {
  background: var(--pink);

  @media (width>=768px) {
    grid-column: content;
    block-size: auto;
    display: grid;
    grid-template-columns: subgrid;
  }

  .menu {
    display: flex;
    margin-inline: 200px;
    justify-content: space-between;
  }
}

/* 메인 */
.main {
  @media (width <= 768px) {
    flex: 1;
    display: flex;
    flex-flow: wrap row;

    .book,
    .news,
    .board,
    .favorite,
    .twitter {
      inline-size: 100%;
    }
  }
  @media (width>=768px) {
    display: contents;
  }
}
/* 추천 서적 */
.book {
  background: var(--mint);
  @media (width>=768px) {
    grid-column: content-start / span 4;
  }
}
/* 새소식 */
.news {
  background: var(--orange);
  @media (width>=768px) {
    grid-column: span 8;
  }
}
/* 게시판 */
.board {
  background: var(--gray);
  @media (width>=768px) {
    grid-column: content-start / span 4;
  }
}
/* 인기사이트 */
.favorite {
  background: var(--purple);
  @media (width>=768px) {
    grid-column: span 3;
    order: 1;
  }
}
/* 트위터 */
.twitter {
  background: var(--teal);
  @media (width>=768px) {
    grid-column: span 5;
  }
}

/* 푸터 */
.footer {
  background: var(--yellow);
  block-size: 10%;

  @media (width>=768px) {
    order: 1;
    grid-column: full;
    block-size: auto;
  }
}
